---
interface Props {
    title: string;
    company: string;
    description: string;
    link?: string;
    icon: any;
    date: string;
}

const {title, company, description, link, icon, date} = Astro.props as Props;

const ExperienceIcon = icon;
---

<div
        class="relative mx-12 pb-12 grid md:grid-cols-5 md:gap-10"
>
    <div class="pb-12 md:col-span-2 flex">
        <span class="pt-4 pr-4 text-5xl text-mint-400 rounded-full drop-shadow-[0px_0px_8px_rgba(0,94,180,1)]">
                <ExperienceIcon></ExperienceIcon>
        </span>
        <div class="top-0">

            <h3

                    class="text-xl font-bold text-mint-400"
            >
                {title}
            </h3>
            <h4 class="text-xl font-semibold text-zinc-600 dark:text-white">
                {company}
            </h4>
            <time datetime={date} class="text-sm text-zinc-600/80 dark:text-white/80">
                {date}
            </time>
        </div>
    </div>

    <div class="flex flex-col gap-2 pb-4 text-zinc-00 dark:text-zinc-300 md:col-span-3">
        {description}
    </div>
</div>
